<p>Dear ,</p>
<br/>
<p>You have requested a new password for your account registered with  Email.</p>
<p>Click the following button to change your password</p></p>
<a style="display:block;color:#ffffff;background-color:#357df4;margin:48px 0 40px 0;min-height:48px;line-height:48px;padding:0 1em;font-weight:bold;" href="/password_resets/" target="_blank">Change Password</a>



