
<h1>Reset Password</h1>
<p>Hello <%=user.name%>,</p>
<form method="POST" action="/updatePassword">
  <input type="password" name="password" placeholder='New password' autofocus=true>
  <input type="password" name="confirm" placeholder='Confirm password'>
  <input type="hidden" name="token" value="<%=user.resetPasswordToken%>">
  <input type="submit" value="submit">
</form>
